/*
  Header
*/

// Header
$bg-grey: #eeeeee;

// Links
$link-stable: #000;
$link-hover: #fb565a;
$link-active: #a7a7a7;


// Buttons
$button-red-stable: #fb565a;
$button-red-hover: #e74246;
$button-red-active: #d7373b;